.no-entries-here{
  text-align: center;
}

.entry {
  font-weight: lighter;
  text-align: center;
  font-style: italic;
  padding-top: 15px;
}B

.entry .entry__meta{
  font-weight: bold;
  text-align: right;
  padding-bottom: 15px;
  padding-right: 60px;
}

.post .entry__meta a:hover {
  text-decoration: none;
}

.btn-add-new-entry {
  position: fixed;
  bottom: 20px;
  right: 20px;
}