.no-entries-here{
  text-align: center;
}

.entry {}

.entry .entry__meta{
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .entry__meta a:hover {
  text-decoration: none;
}

.btn-add-new-entry {
  position: fixed;
  bottom: 20px;
  right: 20px;
}