.no-entries-here{
  text-align: center;
}

.entry {

}

.entry .entry__content{
  text-align: center;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 15px;
}

.entry .entry__bottomline{
  text-align: left;
  font-weight: lighter;
  font-style: italic;
  padding-left: 60px;
}

.entry .entry__meta{
  text-align: right;
  font-weight: bold;
  padding-bottom: 15px;
  padding-right: 60px;
}

.entry .entry__meta a:hover {
  text-decoration: none;
}

.btn-add-new-entry {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.background__image {
  background-color: #40403e
}