<div class="row">
  <div class="col-sm-11 col-lg-12__margin_m">
    <div class="well">
      <div class="yourentry">
        <div class="entry__meta"> <a href="/+{{ yourentry.author.username }}">{{ yourentry.author.username }}</a> </div>
        <div class="entry__title cuttext_title">{{ yourentry.title }}</div>
          <hr/>
        <div class="entry__content cuttext_content">{{ yourentry.content }}</div>
          <hr/>
        <div class="entry__bottomline">Likes: {{ yourentry.likes }}</div>
        <div class="entry__bottomline">Dislikes: {{ yourentry.likes }}</div>
        <div class="entry__bottomline">Created: {{ yourentry.created_at }}</div>
        <div class="entry__bottomline">Updated: {{ yourentry.created_at }}</div>
          
      </div>
    </div>
  </div>
</div>