<div class="row">
  <div class="col-sm-11 col-lg-12__margin_m">
    <div class="well">
      <div class="yourentry">
        <div class="entry__meta"> <a href="/+{{ yourentry.author.username }}">{{ yourentry.author.username }}</a> </div>
        <div class="entry__title cuttext_title">{{ yourentry.title }}</div>
          <hr/>
        <div class="entry__content cuttext_content">{{ yourentry.content }}</div>
          <hr/>
        <div class="entry__bottomline">Likes: {{ yourentry.likes }}</div>
        <div class="entry__bottomline">Dislikes: {{ yourentry.likes }}</div>
        <div class="entry__bottomline">Created: {{ yourentry.created_at }}</div>
        <div class="entry__bottomline">Updated: {{ yourentry.created_at }}</div>

          <div ng-controller="YourentriesController">
              <button ng-click="clickedLike()"> CLICK ME </button>
          </div>

{#          <div ng-app="thinkster.yourentries.controllers" ng-controller="YourentriesController" class="float__right">#}
{#            <button ng-click="clickedLike()" type="submit" class="btn btn-material-lightgreen btn__read__bottom">+1'd</button>#}
{#          </div>#}

      </div>
    </div>
  </div>
</div>