<form role="form" ng-submit="vm.submit()">
    <div class="form-group">
    <label for="entry__title">Title:</label>
    <textarea class="form-control"
              id="entry__title"
              rows="1"
              ng-model="vm.title">
    </textarea>
  </div>

  <div class="form-group">
    <label for="entry__content">Contents:</label>
    <textarea class="form-control"
              id="entry__content"
              rows="10"
              placeholder="content: put your desired contents for entry here."
              ng-model="vm.content">
    </textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-fab-material-lightgreen">
      Submit entry
    </button>
  </div>
</form>